# Direct dependencies
# (sorted alphabetically)

cortexutils==2.0.0
Jinja2==2.10.1
thehive4py==1.6.0

# Secondary dependencies
# (sorted alphabetically)

asn1crypto==0.24.0
certifi==2022.12.7
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
fpdf==1.7.2
future==0.17.1
idna==2.8
libmagic==1.0
MarkupSafe==1.1.1
pycparser==2.19
pyOpenSSL==19.0.0
python-magic-bin==0.4.14
requests==2.22.0
six==1.12.0
urllib3==1.25.3
